@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EDEDED;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

#logo {
    order: 1;
}

#nav {
    order: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
}

#nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

#logout {
    order: 3;
}

#nav a:hover {
    color: #DA0037;
}

span {
    color: #DA0037;
}

#login-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: calc(100% - 22px);
    background-color: #4caf50;
    color: white;
    padding: 14px 0;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    width: calc(100% - 22px);
    background-color: #333;
    color: white;
    padding: 14px 0;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.alert-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.alert {
    color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.alert p {
    margin: 0;
}

.logout-button {
    background-color: #DA0037;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #555;
}

#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: 80%;
    border-radius: 5px;
}

.post h3 {
    margin: 0;
    color: #333;
}

.post p {
    margin: 10px 0;
    color: #666;
}

#create-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

#create-post h2 {
    color: #333;
}

#create-post form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#create-post input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#create-post textarea {
    padding: 10px;
    margin: 10px 0;
    width: 98%;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    height: 180px
}

#create-post button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 10%;
}

#create-post button:hover {
    background-color: #555;
}

.post-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.post-actions button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100px;
    text-align: center;
}

.post-actions button:hover {
    background-color: #555;
}

#my-posts h2 {
    color: #333;
    text-align: center;
}

#edit-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

#edit-post h2 {
    color: #333;
}

#edit-post form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#edit-post input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#edit-post textarea {
    padding: 10px;
    margin: 10px 0;
    width: 98%;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    height: 180px
}

#edit-post button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 10%;
    text-decoration: none;
}

#edit-post button:hover {
    background-color: #555;
}

#my-posts a {
    width: 50px;
}

#my-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my-posts a {
    display: inline-block;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 13.5px;
    font-family: Arial, sans-serif;
    text-align: center;
}   

#my-posts a:hover {
    background-color: #555;
}

